<!DOCTYPE html>
<html>

<head>

    <title>AI Resume Analyzer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">

        <div class="container-fluid">

            <a class="navbar-brand" href="/">
                AI Resume Analyzer
            </a>

            <div>

                <a class="btn btn-outline-light me-2" href="/">
                    Home
                </a>

                <a class="btn btn-outline-light me-2" href="/dashboard">
                    Dashboard
                </a>

                <a class="btn btn-outline-light me-2" href="/analytics">
                    Analytics
                </a>

                <a class="btn btn-outline-light me-2" href="/improvements">
                    Improvements
                </a>

                <a class="btn btn-outline-light" href="/jobs">
                    Jobs
                </a>

            </div>

        </div>

    </nav>

    <div class="container mt-5">

        {% block content %}

        {% endblock %}

    </div>

</body>

</html>