{% extends 'base.html' %}

{% block content %}

<div class="text-center">

    <h1 class="display-4 fw-bold">
        AI Resume Analyzer
    </h1>

    <p class="lead mt-3">

        Analyze resumes intelligently using
        Python, Flask, SQL, Pandas,
        NumPy and Matplotlib.

    </p>
    <form method="POST" enctype="multipart/form-data">

    <div class="mt-5">

        <input
            type="file"
            name="resume"
            class="form-control"
            required
        >

    </div>

    <button class="btn btn-dark mt-4">

        Upload Resume

    </button>

</form>
</div>

{% endblock %}